<header class="mui-bar mui-bar-nav" id="header">
    <a href="<?php echo arU('Index/index') ?>" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span
    ></span></a>
        <!-- <a id="popover-menu" ng-if="showmenu === true" class="mui-action-menu mui-icon mui-icon-more mui-pull-right" href="#topPopover"></a> -->
    <h1 id="title" class="mui-title"> 个&nbsp;人&nbsp;主&nbsp;页&nbsp;</h1>
</header>
<div class="mui-content">
    <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
      
        <li class="mui-table-view-cell cellLi">
            <img class="mui-media-object mui-pull-left" src="../images/shuijiao.jpg">
            <div class="mui-table">
             <!-- mui-col-xs-10 mui-col-xs-2 mui-text-right mui-table-cell-->
                <div class="mui-media-body">
                    <h3 class="spacW">申请人：kjhgf</h3>
                    <h3 class="spacW">电话：9876</h3>
                    <p class="spacW">推荐人电话：1323456</p>
                </div>
                <div class="tableCell">
                    <span class="mui-h5">ddddddd</span>
                </div>
            </div>
        </li>
        
    </ul>
</div>
<ul class="mui-table-view">
    <li class="mui-table-view-cell mui-media">
        <a href="#">
            <img class="mui-media-object mui-pull-left" src="../images/shuijiao.jpg">
            <div class="mui-media-body">
                幸福
                <p class='mui-ellipsis'>能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
            </div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media">
        <a href="javascript:;">
            <img class="mui-media-object mui-pull-left" src="../images/muwu.jpg">
            <div class="mui-media-body">
                木屋
                <p class='mui-ellipsis'>想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
            </div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media">
        <a href="javascript:;">
            <img class="mui-media-object mui-pull-left" src="../images/cbd.jpg">
            <div class="mui-media-body">
                CBD
                <p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
            </div>
        </a>
    </li>
</ul>