</div>
<footer>
    <div class="beian site-content">
        <div class="company">
            <!-- <a href="http://mzm.coiu.cn/">梦之门科技</a> 版权所有
            <a class="foot-a" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank" rel="nofollow">备案号：蜀ICP备14005166-2号</a>
            <a href="<?php echo arU('admin/Index/login') ?>">后台管理入口</a> -->
        </div>
        <div class="">
 <!--            <span class="arial">
                Copyright &copy; 2014
                <a href="http://www.coiu.cn/">www.coiu.cn</a>
                Inc. All Rights Reserved.
            </span> -->
        </div>
    </div>
</footer>
<script type="text/javascript">
    var domain = "<?php echo arCfg('PATH.APP_SERVER_PATH');?>";
</script>

</body>

</html>

