<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- 默认编码显示 -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- 默认浏览器版本 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <!-- 触屏设备兼容性设置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 宽屏设置 -->
    <meta name="description" content="Envor HTML5/CSS3 Template">
    <!-- 默认编码，默认文件形式 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <title>应用</title>
    <meta content="哒哒哒哒哒哒哒哒哒" name="description">
    <!-- 兼容性加载JS框架 -->
    <!-- HTML5 shim for IE8 support of HTML5 elements -->
    <!--[if lt IE 9]><script src="<?php echo arCfg('PATH.PUBLIC'); ?>js/html5shiv.js"></script><![endif]-->
    <script type="text/javascript" src="<?php echo arCfg('PATH.PUBLIC'); ?>js/jquery.min.js"></script>
    <script type="text/javascript" src="<?php echo arCfg('PATH.PUBLIC'); ?>js/mui.js"></script>
    <!-- 加载个人操作css -->
    <link rel="stylesheet" type="text/css" href="<?php echo arCfg('PATH.PUBLIC'); ?>css/mp.css">
<!--     <link rel="stylesheet" type="text/css" href="<?php echo arCfg('PATH.PUBLIC'); ?>css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="<?php echo arCfg('PATH.PUBLIC'); ?>css/mui.css">
     <link rel="stylesheet" type="text/css" href="<?php echo arCfg('PATH.PUBLIC'); ?>css/style.css">
    <!-- 文件内加载CSS -->
    <!-- 以下layui去掉by ty 为了index中 h3的大小 -->
<!--     <link rel="stylesheet" href="<?php echo arCfg('PATH.PUBLIC'); ?>lib/layui/css/layui.css"> -->

    <script type="text/javascript" src="<?php echo arCfg('PATH.PUBLIC'); ?>lib/layui/layui.js"></script>

    <body>
<!--         <header class="mui-bar mui-bar-nav">
            <div class="topnav site-content">
                <header class="mui-bar mui-bar-nav">
                    
                
                <a class="layui-btn layui-btn-small" href="<?php echo arU('Index/index') ?>">报名加入我们</a>
                <a class="layui-btn layui-btn-small" href="<?php echo arU('Index/list') ?>">我们的队伍</a>
                </header>
            </div> -->
        </header>
        <!-- <div class="site-content"> -->
