body {
    background: url(../img/MX4h.png) 100% 100% no-repeat;
      background-size: cover;
}
*{
  color: #fff;
}
.sliderItem {
    margin: 2px 15px 60px 15px;
}

.sliderItem p {
    font-size: 17px;
    color: #fff;
    line-height: 30px;
}

.sliderItem h3 {
    text-align: center;
    padding-bottom: 30px;
    color: #fff;
    border-bottom:1px solid #eee; 
}

.pBox {
    margin-top: 30px;
    padding: 1px 2px;
}

.guding {
    position: fixed;
    bottom: 0px;
}

#zhanwei {
    width: 100%;
}

.newSlider {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    background: 0 0;
}

.mui-btn-block {
    margin-bottom: 0;
}
h4{
  color: #fff
}
