<link rel="stylesheet" type="text/css" href="<?php echo arCfg('PATH.PUBLIC'); ?>css/mystyle.css">
<div id="slider" class="mui-slider">
    <div class="mui-slider-group mui-slider-loop">
        <div id="zhanwei"></div>
        <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
        <div class="mui-slider-item mui-slider-item-duplicate">
            <div class="sliderItem">
                <h3>卜算子·咏梅</h3>            
                <div class="pBox">
                    <p>驿外断桥边，寂寞开无主。</p>
                    <p>已是黄昏独自愁，更著风和雨。</p>
                    <p>无意苦争春，一任群芳妒。</p>
                    <p>零落成泥碾作尘，只有香如故。</p>
                    <h4 class="fwb">Ode to the Plum Blossom—to the tune of Bu Suan Zi</h4>
                    <p>Outside the post-house, beside the broken bridge,</p>
                    <p>Alone, deserted, a flower blooms.</p>
                    <p>Saddened by her solitude in the falling dusk,</p>
                    <p>She is assailed by wind and rain.</p>

                </div>
            </div>
        </div>
        <!-- 第一张 -->
        <div class="mui-slider-item">
            <div class="sliderItem">
                <h3>卜算子·咏梅</h3>            
                <div class="pBox">
                    <p>驿外断桥边，寂寞开无主。</p>
                    <p>已是黄昏独自愁，更著风和雨。</p>
                    <p>无意苦争春，一任群芳妒。</p>
                    <p>零落成泥碾作尘，只有香如故。</p>
                    <h4 class="fwb">Ode to the Plum Blossom—to the tune of Bu Suan Zi</h4>
                    <p>Outside the post-house, beside the broken bridge,</p>
                    <p>Alone, deserted, a flower blooms.</p>
                    <p>Saddened by her solitude in the falling dusk,</p>
                    <p>She is assailed by wind and rain.</p>

                </div>

              <!--   <h3细雨蒙蒙</h3>
                <div class="pBox">
                    <h4 class="fwb">壮年听雨客舟中。江阔云低、断雁叫西风。 
</h4>
                    <p>少年听雨歌楼上。红烛昏罗帐。</p>
                    <p>而今听雨僧庐下。鬓已星星也。</p>
                    <p>悲欢离合总无情。一任阶前、点滴到天明。</p>
                    <p>年少的时候，歌楼上听雨，红烛盏盏，昏暗的灯光下罗帐轻盈。</p>
                    <h4 class="fwb">人到中年，在异国他乡的小船上，</h4>
                    <p>看蒙蒙细雨，茫茫江面，水天一线，西风中，一只失群的孤雁阵阵哀鸣。</p>
                    <p>而今，人已暮年，两鬓已是白发苍苍，独自一人在僧庐下，听细雨点点。</p>
                </div> -->
            </div>
        </div>
        <!-- 第二张 -->
        <div class="mui-slider-item">
            <div class="sliderItem">
                <h3>春江花月夜：</h3>
                
                <div class="pBox">
                    <p>月半梧桐疏影，寂寞江畔人，雁去也。</p>
                    <p>江波天去秋无际，飘渺渔舟唱晚，何处忧愁！
                    <p>栏杆独倚，强酒撒热血，花影浮动，凝是玉人来。</p></p>
                    <p>春江潮水连海平，海上明月共潮生。</p>
                    <p>滟滟随波千万里，何处春江无月明。</p>
                    <p>江流宛转绕芳甸，月照花林皆似霰。</p>
                </div>
            </div>
        </div>
        <!-- 第三张 -->
        <div class="mui-slider-item">
            <div class="sliderItem">
                <h3>春江花月夜：</h3>
                
                <div class="pBox">
                    <p>空里流霜不觉飞，汀上白沙看不见。</p>
                    <p>江天一色无纤尘，皎皎空中孤月轮。</p>
                    <p>江畔何人初见月？江月何年初照人？</p>
                    <h4 class="fwb">人生代代无穷已，江月年年望相似。</h4>
                    <p>不知江月待何人，但见长江送流水。</p>
                </div>
            </div>
        </div>
        <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
        <div class="mui-slider-item mui-slider-item-duplicate">
            <div class="sliderItem">
                <h3>卜算子·咏梅</h3>            
                <div class="pBox">
                    <p>驿外断桥边，寂寞开无主。</p>
                    <p>已是黄昏独自愁，更著风和雨。</p>
                    <p>无意苦争春，一任群芳妒。</p>
                    <p>零落成泥碾作尘，只有香如故。</p>
                    <h4 class="fwb">Ode to the Plum Blossom—to the tune of Bu Suan Zi</h4>
                    <p>Outside the post-house, beside the broken bridge,</p>
                    <p>Alone, deserted, a flower blooms.</p>
                    <p>Saddened by her solitude in the falling dusk,</p>
                    <p>She is assailed by wind and rain.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="mui-slider-indicator newSlider">
        <div class="mui-indicator mui-active"></div>
        <div class="mui-indicator"></div>
        <div class="mui-indicator"></div>
    </div>
    <div class="baoming">
        <a href="<?php echo arU('Index/login') ?>" type="button" class="mui-btn mui-btn-primary mui-btn-block guding">加入我们</a>
    </div>
</div>
<script type="text/javascript">
// 或之间是三种获取当前屏幕的高度的方法，意思是三种方法依次遍历，总有一个可行
var heightMobile = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

// 将获取到的屏幕高度乘以0.07，得到按屏幕高度比值大小的高度以适应不同屏幕的需求
var zhanwei = heightMobile * 0.07;

// 将获得的原始屏幕高度赋值给body的高
$('body').css({
    height: heightMobile
});

// 将获得的原始屏幕高度赋值给id为slider的高
$('#slider').css({
    height: heightMobile
});

// 将乘了比值的屏幕高度赋值给id为zhanwei的高
$('#zhanwei').css({
    height: zhanwei
});
</script>
